.profileContentContainer {
  .profileCard {
    margin-bottom: 10px;
  }

  .profileCompany {
    margin: 0 5px;
  }

  .bodySection {
    margin: 12px 0;
  }

  .work {
    list-style: none;
    padding-left: 0;

    .workItem {
      margin: 7px 0;

      a {
        margin-right: 3px;
      }
    }
  }

  .badge {
    margin: 0 3px;
  }
}
