footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #ffffff;
}

.footer-content {
  display: flex;
  align-items: center;
  padding: 13px 0;
}

.featherIcon,
.marginedText {
  margin: 0 4px;
}

.boldText {
  font-weight: 600;
}
