.navbar {
  border-bottom: 2px solid #f1f1f1;

  .navbarBrand {
    color: #000;
    font-weight: bold;
  }

  .navItem {
    a {
      color: #000;
    }

    &.active {
      a {
        color: #000;
        font-weight: bold;
      }
    }
  }
}