.navbar {
  border-bottom: 2px solid #f1f1f1;

  .navbar-brand {
    color: #3c3d3d;
    font-weight: bold;
  }

  .nav-item {
    a {
      color: #707070;
    }

    &.active {
      a {
        color: #3c3d3d;
        font-weight: bold;
      }
    }
  }
}
