.postContainer {
  background-color: #f1f1f1;
  padding: 10px 0;

  .post {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 0.3em;
  }

  .titleContainer {
    margin: 15px 0;

    .title {
      font-size: 2em;
      font-weight: 600;
    }
  }

  .post {
    a {
      &:hover {
        cursor: pointer;
      }
    }

    img {
      display: block;
      margin: auto;
      margin-bottom: 20px;
    }

    table {
      margin: 30px auto;

      th, td {
        padding: 5px 17px;
        border-left: 1px solid #e3e3e3;

        &:first-child {
          border-left: none;
        }
      }

      thead {
        tr {
          border-bottom: 2px solid #e3e3e3;
        }
      }
    }

    p {
      font-size: 1.1rem;
    }

    li {
      p {
        margin-bottom: 10px;
      }
    }

    .gatsby-highlight {
      margin-bottom: 20px;
    }

    code:not([class]) {
      background: #d1c2ec;
      border: 1px solid #673ab7;
      color: #000;
      padding: 0.1rem 0.3rem;
      border-radius: 0.3em;
    }
  }

  .language-text {
    background: scale-color(#673ab7, $lightness: +70%);
    border: 1px solid #673ab7;
    color: #000;
    padding: 0.1rem 0.3rem;
  }

  blockquote {
    background-color: scale-color(#ffab00, $lightness: +80%);
    border-left: 5px solid #ffab00;
    padding: 1rem;

    p {
      margin-bottom: 0;
    }
  }

  h1 {
    margin-top: 3rem;
  }

  section {
    padding: 100px 0;
  
    &.jumboimage {
      background-size: cover;
      background-position: center;
  
      h1 {
        color: #FFF;
        font-weight: 700;
        text-shadow: 0px 1px 8px rgba(100, 100, 100, 0.3);
      }
    }
  
    hr {
      border-color: #f44336;
      border-width: 3px;
      max-width: 50px;
  
      &.light {
        border-color: #FFF;
      }
    }
  
    .section-heading {
      font-family: 'BasisGrotesqueProMonoRegular', 'andale mono',
      'SFMono-Regular', Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
      monospace;
    }
  
    .service-box {
      max-width: 400px;
      margin: 50px auto 0;
  
      i {
        font-size: 3.5rem;
        margin-bottom: 20px;
  
        &[data-emergence='visible'] {
          opacity: 1;
          animation: bounceIn 2s;
        }
  
        &[data-emergence='hidden'] {
          opacity: 0;
        }
      }
    }
  
    .slide-left {
      &[data-emergence='visible'] {
        opacity: 1;
        animation: slideInLeft 1s;
      }
  
      &[data-emergence='hidden'] {
        opacity: 0;
      }
    }
  
    .slide-right {
      &[data-emergence='visible'] {
        opacity: 1;
        animation: slideInRight 1s;
      }
  
      &[data-emergence='hidden'] {
        opacity: 0;
      }
    }
  }
}

.nextPostContainer {
  .nextPostTitle {
    display: flex;
    align-items: center;
  }
}

.shareWidgetContainer {
  top: 350px;
  position: sticky;
}
